# -*- coding: utf-8 -*-
compile '*' do
  if item[:extension] == 'css'
    # don’t filter stylesheets
  elsif item[:extension] == 'md'
    # Convert the Markdown file to HTML through pandoc
    filter :pandoc,
           :params => { :mathjax => true,
                      }
    filter :erb
    layout 'default'
  elsif item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
  end
end

route '*' do
  if item[:extension] == 'css'
    # Write item with identifier /foo/ to /foo.css
    item.identifier.chop + '.css'
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
