@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

body {
    margin: 0;
    font-family: 'Cardo', serif;
    color: #444;
}

.footnotes hr {
    /* I don't like the ugly <hr> separating the references from the rest */
    display: none;
}
