/* Article list style */

.articles {
  font-size: 1.5em;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;

  .post-list {
    margin-top: 30px;

    .post {
      margin-bottom: 35px;
      list-style-type: none;

      .info {
        font-size: 15px;
        margin-top: 5px;

        .date {
          color: #bbb;
        }

        .summary {
          display: inline;
        }
      }
    }
  }
}

.article-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  z-index: 0;

  font-size: 21px;

  & > pre {
    display: block;
    position: relative;
    text-align: center;
    width: 100vw;
    left: calc(-50vw + 50%);

    code {
      display: inline-block;
      min-width: 60%;
      text-align: left;
      z-index: 100;
    }
  }

  img {
      display: block;
      max-width: 100%;
      margin: 30px auto;
  }
}

article {
  // General text properties
  font-size: $text-font-size;

  // Layout

  & > *, dd > *, li > *, blockquote > * {
    margin-bottom: 20px;
  }

  li {
    margin-top: 15px;
  }

  // Heading style

  h1 {
    font-size: 36px;
    margin-top: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  h2 {
    font-size: 28px;
    margin-top: 28px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 24px;
    margin-top: 24px;
  }

  h4 {
    font-size: 20px;
    margin-top: 20;
  }

  h5 {
    font-size: 1em;
    margin-top: 18px;
  }

  h6 {
    font-size: 1em;
    margin-top: 18px;
  }

  p {
    text-align: justify;
    text-indent: 20px;

    &:first-child {
      text-indent: 0;
    }
  }

  code {
    font-family: Inconsolata, monospace;
  }

  pre {
    background-color: $code-background-color;
    border: 1px solid #f2f2f2;
    padding: 20px;

    code {
      background-color: $code-background-color !important;
      font-size: $code-block-font-size;
      line-height: $code-block-line-height;

      .hljs {
        display: inline;
      }
    }
  }

  :not(pre) > code {
    background-color: $code-background-color;
    padding: 2px 5px;
    border: 1px solid $code-border-color;
    border-radius: 3px;
    font-size: $code-font-size;
  }

  // Lists

  dl {
    dt {
      font-weight: bold;
    }

    dd {
      padding-left: 15px;
      margin-bottom: 20px;
    }
  }

  ul, ol {
    padding-left: 35px;

    li {
      text-align: justify;
    }
  }

  blockquote {
    font-style: italic;
    width: 85%;
    margin: 0 auto;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 15px;
  }

  table, td, th {
    border: 1px solid black;
  }

  .footnotes {
    .reversefootnote {
      display: none;
    }

    li {
        margin-top: 40px;
    }
  }

  .rss-only {
    display: none;
  }
}
