/* Footer style */

footer {
  line-height: 120px;
  text-align: center;
  background: #fafafa;

  .content {
    width: 80%;
    margin: 0 auto;

    @include on-desktop() {
        .copyright {
            float: left;
        }
    }
  }
}
