/* Global style */

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  color: $text-color;
  background-color: $body-background;

  overflow-x: hidden;

  @include flexbox();
  min-height: 100vh;
  @include flex-direction(column);
}

a {
  color: $link-color;
  text-decoration: none;
}

main {
  flex: 1;
}
