/* Page header */

.post-header {
  padding: 45px;
  margin-bottom: 10px;

  h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 3em;

    a {
      color: $text-color;
    }
  }

  ul {
    list-style-type: none;
    margin: 15px auto;
    @include flex();
    @include justify-content(center);

    li {
      display: inline-block;
      font-size: 1.2em;
    }

    li+li:before {
      content: "\A0/\A0";
    }
  }

  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
}
