/* Home page style */

.landing {
    width: 100vw;
    background-image: url('/assets/img/map.jpg'), url('/assets/img/map-small.jpg');
    background-size: auto, cover;
    background-position: left center, left center;
    background-repeat: no-repeat;

    .home {
        z-index: 0;
        width: 100vw;
        height: 100vh;
        @include flexbox();
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);

        .box {
            @include on-desktop() {
                width: 400px;

                /* Not the exact center. Move it closer to eye level. */
                margin-bottom: 70px;
            }

            @include on-mobile() {
                width: 100%;
            }

            padding: 35px;

            background-color: rgba(255, 255, 255, 0.90);

            h1 {
                text-align: center;
                font-size: 2.5em;
            }

            nav {
                ul {
                    list-style-type: none;
                    margin: 15px auto;
                    @include flexbox();
                    @include justify-content(center);

                    li {
                        display: inline-block;
                        font-size: 1.2em;
                    }

                    li+li:before {
                        content: "\A0—\A0";
                    }
                }
            }
        }
    }
}
