/* Flexbox mixins */

@mixin flex() {
    /* Portable version of `display: flex` */
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
};

@mixin flex-direction($direction) {
    /* Portable version of `flex-direction` */
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
}

@mixin justify-content($alignment) {
    /* Portable version of `justify-content` */
    justify-content: $alignment;
    -webkit-justify-content: $alignment;
}

@mixin align-items($alignment) {
    /* Portable version of `align-items` */
    align-items: $alignment;
    -webkit-align-items: $alignment;
}

@mixin flex-flow($value) {
    flex-flow: $value;
    -webkit-flex-flow: $value;
}

/* Responsive mixins */

@mixin on-desktop() {
  @media (min-width: $mobile-size) {
    @content;
  }
}

@mixin on-mobile() {
  @media (max-width: $mobile-size) {
    @content;
  }
}

/* Other vendor prefix mixins */

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
