/* Portfolio style */

$section-margin-top: 40px;

.portfolio {
  font-size: 1.1em;
  padding: 30px;

  .section-title {
    margin: 120px auto;
    margin-bottom: 0;
    width: 85%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .intro {
    width: 55%;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-bottom: 55px;
    }
  }

  section {
    width: 80%;
    margin: 0 auto;
  }

  .open-source {
    overflow: hidden;

    .item {

      &:not(:first-child) {
        margin-top: 150px;
      }

      &:first-child {
        margin-top: $section-margin-top;
      }

      .title {
        font-size: 46px;
      }

      .desc {
        .text {
          font-size: 1.1em;
          padding-top: 30px;
          padding-left: 30px;
        }

        .links {
          list-style-type: none;
          padding-left: 30px;
          margin-top: 30px;

          li {
            display: inline-block;
            padding-left: 16px;

            a {
              color: $text-color;
              font-size: $portfolio-icon-size;
            }
          }
        }
      }

      .sample {
        padding-top: 25px;
      }
    }

    /* Layout */
    .item {
      @include flexbox();
      @include flex-flow(row wrap);

      @include on-desktop() {
        .desc {
          width: 40%;
        }

        .sample {
          width: 55%;
          margin-left: auto;
        }
      }

      @include on-mobile() {
        .desc {
          width: 100%;
        }

        .sample {
          width: 100%;
        }
      }
    }
  }

  .other {
    width: 100%;
    margin-top: $section-margin-top;

    .desc {
      margin: 0 auto;
      width: 75%;
    }

    .lists-container {
      width: 90%;
      margin: 25px auto;

      dl {
        font-size: 1.1em;
        padding: 25px;

        dd {
          padding-left: 15px;
        }
      }
    }

    /* Layout */
    @include on-desktop() {
      .lists-container {
        @include flexbox();
        @include flex-flow(row wrap);
        padding: 25px;

        dl {
          width: 50%;
        }
      }
    }
  }
}
