$body-background: #fff;
$body-font-family: 'Lusitana', serif;
$body-padding: 45px;

$code-font-size: 1em;
$code-background-color: #fdfdfd;
$code-border-color: #ddd;
$code-block-font-size: 15.5px;
$code-block-line-height: 1.2em;

$text-font-size: 1.2em;

$text-color: #222;
$link-color: #AD3108;
$heading-color: #222;

$portfolio-icon-size: 37px;

$mobile-size: 768px;
$desktop-size: $mobile-size + 1;
