article {
  font-size: 16px;
  padding-left: 45px;

  p {
    text-align: justify;

    @include on-desktop() {
      width: 50%;
      margin: 0;
    }
  }

  .footnotes {

    .reversefootnote {
      display: none;
    }
  }
}
