article {
  font-size: 1.1em;
  padding-left: 45px;

  p {
    text-align: justify;

    @include on-desktop() {
      width: 50%;
      margin: 0;
    }
  }

  pre {
    border: 1px solid #ddd;
    margin: 20px 0;

    @include on-desktop() {
      width: 50%;
    }
  }

  ul {
    margin: 20px 0;
  }

  .footnotes {

    .reversefootnote {
      display: none;
    }
  }
}
