article {
  font-size: 1.1em;
  padding-left: 45px;
  padding-top: 45px;

  header {
    hr {
      height: 0;
      border: 0;
      border-top: 1px solid #ccc;
    }
  }

  p {
    text-align: justify;

    @include on-desktop() {
      width: 50%;
      margin: 0;
    }
  }

  pre {
    border: 1px solid #ddd;

    @include on-desktop() {
      width: 50%;
    }
  }

  .footnotes {

    .reversefootnote {
      display: none;
    }
  }
}

footer {
  height: 120px;
  text-align: center;

  .copyright {
    padding-top: 75px;
  }
}
