/* General CSS */

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  color: $text-color;
  background-color: $body-background;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

h1 { @extend .gamma; @extend %hN; }
h2 { @extend .delta; @extend %hN; }
h3 { @extend .epsilon; @extend %hN; }
h4 { @extend .zeta; @extend %hN; }
h5 { @extend .zeta; @extend %hN; }
h6 { @extend .zeta; @extend %hN; }

p {
  text-align: justify;
}

/* Code style */

code {
  font-family: Inconsolata, monospace;
}

pre {
  background-color: $code-background-color;

  code {
    font-size: $code-block-font-size;
    line-height: $code-block-line-height;

    .hljs {
      display: inline;
    }
  }
}

:not(pre) > code {
  background-color: $code-background-color;
  padding: 2px 5px;
  border: 1px solid $code-border-color;
  border-radius: 3px;
}

blockquote {
  font-style: italic;
}

dl {
  dd {
    padding-left: 15px;
  }
}

ul, ol {
  padding-left: 35px;
}

footer {
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;

  .footer-content {
    @include row();

    .copyright {
      @include column(6);
    }

    .social {
      @include column(6);
      list-style-type: none;

      li {
        display: inline;
        padding-left: 25px;

        a {
          color: $text-color !important;
        }
      }
    }
  }
}
