/* Style shared by the about page and the portfolio page, and other custom pages */

.post-header {
  padding-left: 45px;
  padding-top: 45px;
  margin-bottom: 10px;

  h1 {
    margin-bottom: 10px;

    a {
      color: $text-color !important;
    }
  }

  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
}
