#portfolio {
  font-size: 1.1em;

  .intro {
    width: 55%;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-bottom: 55px;
    }
  }

  .open-source {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    overflow: hidden;

    .item {
      margin-top: 150px;

      .title {
        font-size: 46px;
      }

      .desc {

        .links {
          list-style-type: none;
          padding-left: 30px;

          li {
            display: inline-block;
            padding-left: 16px;

            a {
              color: $text-color;
              font-size: $icon-size;
            }
          }
        }
      }
    }

    /* Layout */
    @include on-desktop() {
      .item {
        @include outer-container;

        .desc {
          @include span-columns(5);
        }

        .sample {
          @include span-columns(7);
        }
      }
    }

    @include on-mobile() {
      .item {
        @include outer-container;

        .desc {
          @include span-columns(12);
        }

        .sample {
          @include span-columns(12);
        }
      }
    }
  }

  .other {
    width: 100%;
    margin-top: 150px;

    .lists-container {
      width: 90%;
      margin: 0 auto;
    }

    /* Layout */
    @include on-desktop() {
      .lists-container {
      @include outer-container;

        dl {
          @include span-columns(6);
        }
      }
    }

    @include on-mobile() {
      .lists-container {
      @include outer-container;

        dl {
          @include span-columns(12);
        }
      }
    }
  }
}
