/* Variables */

$code-background-color: #f6f6f6;
$code-border-color: #ddd;
$code-block-font-size: 1.2em;
$code-block-line-height: 1.2em;

$text-color: #222;
$link-color: #AD3108;

$icon-size: 37px;

$mobile-size: 768px;
$desktop-size: $mobile-size + 1;
