.about {
  padding: 10px 30px;
  font-size: 1.1em;

  $internal-padding: 10px 40px;

  .container {

    .text {
      padding: $internal-padding;
    }

    .links {
      padding-top: $internal-padding;
    }

    .colophon {
      width: 80%;
      margin: 0 auto;
    }
  }
}
