#map {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.panel-container {
  z-index: 0;
  padding-top: 120px;

  .panel {
    width: 400px;
    margin: 0 auto;
    padding: 35px;

    background-color: rgba(255, 255, 255, 0.90);

    h1 {
      text-align: center;
    }

    nav {
      ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        width: 160px;

        li {
          display: inline-block;
        }

        li+li:before {
          content: "\A0—\A0";
        }
      }
    }

    .content-list {
      margin-top: 20px;
    }
  }
}
