---
---

@charset "utf-8";

/* External imports */
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/color-brewer.min.css);
@import "typeplate/typeplate";

/* Internal imports */
@import "typeplate/vars-typeplate";

/* General CSS */
body {
    margin: 0 auto;
    padding: 45px;
    font-family: 'Crimson Text', serif;
    color: $body-copy-color;
    font-size: 18px;
}

a, a:visited {
    color: #AD3108;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
}

h1 { @extend .gamma; @extend %hN; }
h2 { @extend .delta; @extend %hN; }
h3 { @extend .epsilon; @extend %hN; }
h4 { @extend .zeta; @extend %hN; }
h5 { @extend .zeta; @extend %hN; }
h6 { @extend .zeta; @extend %hN; }

/* Front page */
nav ul {
    font-style: italic;

    li {
        display: inline;
    }

    li+li:before {
        content: "—";
    }
}

/* Essays etc. */
article { }

/* Code style */

code {
  font-family: Inconsolata, monospace;
}

pre {
  border: 1px solid #ddd;
  background-color: #f6f6f6;

  code {
    font-size: 14px;
  }
}
