---
---
/* Colorbrewer theme ported to rouge from highlight.js

Previous: https://github.com/isagalaev/highlight.js/blob/master/src/styles/color-brewer.css

Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira
*/


.highlight {
  // Comments
  .c {
      color: #636363;
  }
  // Strings
  .s, .ss {
      color: #756bb1;
  }

  // Number literals
  .m, .mf, .mh, .mi, .mo {
      color: #31a354;
  }

  // Builtin
  .nb, .k, .kr {
      color: #3182bd;
  }

  // Attribute
  .na {
      color: #e6550d;
  }

  // Symbol
  .nv, .kt, .n {
      color: #88f;
  }
}
