---
---

@charset "utf-8";

//
// Reset
//

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
}

//
// Parameters to the design system.
//

// `f` is the base font size: 16px.
$f: 16px;
// `s` is the font scale; 1.250 (major third).
$s: 1.250;
// `b` is the rhythm baseline: 12px.
$b: 12px;

//
// Derived Constants
//

// Font sizes.
$f1: $f;
$f2: $f * $s;
$f3: $f * $s * $s * $s;
$f4: $f * $s * $s * $s * $s;
$f5: $f * $s * $s * $s * $s * $s;

// Sizes.
$b1: $b;
$b2: $b * 2;
$b3: $b * 3;
$b4: $b * 4;
$b5: $b * 5;

//
// Root Styles
//

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

// Uncomment the following to draw a grid on the page:
// body { background-image: linear-gradient(#eee 1px, transparent 1px); background-size: 100% 12px; }

//
// Common Layout
//

.layout-common {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > nav.top-nav {

    }

    > main {
        flex: 1;
    }

    > footer {
        border-top: 1px solid black;
        padding: $b1;
    }
}
