---
---

@charset "utf-8";


//
// Variables
//

$highlight-color: #C40234;
$link-color: #B1002E;
$mobile-size: 768px;

//
// Mixins
//

$breakpoint-small: 375pt;
$breakpoint-medium: 768pt;
$breakpoint-large: 1400pt;

@mixin small() {
    @media (max-width: $breakpoint-small) {
        @content;
    }
}

@mixin medium() {
    @media (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) {
        @content;
    }
}

@mixin large() {
    @media (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) {
        @content;
    }
}

@mixin largest() {
    @media (min-width: $breakpoint-large + 1) {
        @content;
    }
}

//
// Reset
//

*, :after, :before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

body {
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

//
// Typography
//

html {
    font-size: 16px;
}

body {
    font-family: 'Times New Roman', 'Nimbus Roman No9 L', serif;
    color: black;
}

code {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9em;
}

//
// Common layout
//

.layout-common {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-nav {
        width: 100%;
        border-bottom: 1px solid black;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            list-style-type: none;

            li {
                margin: 0 5px;
            }
        }
    }

    main {
        flex: 1;
    }

    footer {
        border-top: 1px solid black;

        a {
            color: $highlight-color;
        }
    }

    @include small() {
        .top-nav {
            padding: 1rem;

            ul {
                flex-direction: column;

                a, .sep {
                    font-size: 1rem;
                }
            }
        }

        footer {
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    }
    @include medium() {
        .top-nav {
            padding: 1rem;

            a, .sep {
                font-size: 1rem;
            }
        }

        footer {
            padding: 1rem;
            font-size: 1rem;
        }
    }
    @include large() {
        .top-nav {
            padding: 1.3rem;

            a, .sep {
                font-size: 1.5rem;
            }
        }

        footer {
            padding: 1.5rem;
            font-size: 1.3rem;
        }
    }
    @include largest() {
        .top-nav {
            padding: 2rem;

            a, .sep {
                font-size: 2rem;
            }
        }

        footer {
            padding: 2rem;
            font-size: 1.5rem;
        }
    }
}

//
// Post List
//

.post-list {
    max-width: 1300px;
    margin: 0 auto;

    h2 {
        padding-bottom: 0.1em;
        border-bottom: 1px solid #ccc;
        margin: 0.7em 0;
    }

    p {
        font-size: 2rem;
        margin-bottom: 3rem;

        a {
            color: $highlight-color;
        }
    }

    ul.posts {
        list-style-type: none;

        li {
            margin-bottom: 3rem;

            display: flex;
            flex-direction: column;

            a {
                margin-bottom: 10px;
                border-bottom: 1px solid white;

                transition: color 0.3s linear;
            }

            .info {
                .date {
                    color: #474747;
                }
            }

            &:hover {
                a {
                    border-color: #bbb;
                    color: $highlight-color;

                    transition: color 0.3s linear;
                }
            }
        }
    }

    @include small() {
        padding: 40px 0;

        h2 {
            font-size: 1.3rem;
        }

        ul.posts {
            margin: 0 auto;
            padding: 0 40px;

            li {
                font-size: 1.3rem;

                .info {
                    font-size: 1rem;
                }
            }
        }
    }

    @include medium() {
        padding: 40px 0;

        h2 {
            font-size: 1.3rem;
        }

        ul.posts {
            margin: 0 auto;
            padding: 0 40px;

            li {
                font-size: 1.3rem;

                .info {
                    font-size: 1rem;
                }
            }
        }
    }

    @include large() {
        padding: 60px 0;

        h2 {
            font-size: 2.3rem;
        }

        ul.posts {
            margin: 0 auto;
            padding: 0 60px;

            li {
                font-size: 2.3rem;

                .info {
                    font-size: 1rem;
                }
            }
        }
    }

    @include largest() {
        padding: 100px 0;

        h2 {
            font-size: 3.3rem;
        }

        ul.posts {
            margin: 0 auto;
            padding: 0 100px;

            li {
                font-size: 3.3rem;

                .info {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

//
// Formatting for textual content
//

article {
    max-width: 1800px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.2em;

    // Block elements

    p, blockquote, table, ul, ol, dl, h1, h2, h3 {
        margin-bottom: 0.8em;
    }

    pre {
        margin-bottom: 2em;
    }

    h1 {
        font-size: 1.8em;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #ccc;
        margin: 0.9em 0;
    }

    h2 {
        font-size: 1.3em;
        padding-bottom: 0.1em;
        border-bottom: 1px solid #ccc;
        margin: 0.7em 0;
    }

    h3 {
        font-size: 1em;
        padding-bottom: 0em;
        margin-bottom: 0.5em;
        margin: 0.5em 0;
    }

    hr {
        margin: 60px auto;
        border: none;
        text-align: center;

        @mixin small() {
            margin: 30px auto;
        }

        &:after {
            content: '❧';
            color: black;
        }
    }

    ul, ol, dl {
        p:first-child {
            text-indent: 0;
        }
    }

    dl {
        dt {
            font-weight: bold;
        }
    }

    pre {
        border: 2px solid #f2f2f2;
        background: #fcfcfc;
        line-height: 1.1em;
        overflow-x: auto;
    }

    blockquote {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        font-style: italic;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td, th {
            border: 1px solid black;
        }

        th {
            font-weight: bold;
        }
    }

    img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }

    // Inline elements

    a {
        color: $link-color;
        text-decoration: none;
    }

    @include small() {
        font-size: 1rem;
        padding: 10px;

        p {
            text-indent: 1rem;
        }

        ul, ol, dl {
            margin-left: 40px;
        }

        dl {
            dd {
                margin-left: 20px;
            }
        }

        table {
            td, th {
                padding: 2px 4px;
            }
        }

        pre {
            padding: 8px 10px;
            font-size: 0.6rem;
        }
    }

    @include medium() {
        font-size: 1.5rem;
        padding: 30px;

        p {
            text-indent: 1.5rem;
        }

        ul, ol, dl {
            margin-left: 50px;
        }

        dl {
            dd {
                margin-left: 50px;
            }
        }

        table {
            td, th {
                padding: 3px 10px;
            }
        }

        pre {
            padding: 14px 20px;
            font-size: 1rem;
        }
    }

    @include large() {
        font-size: 2rem;
        padding: 100px;

        p {
            text-indent: 2rem;
        }

        ul, ol, dl {
            margin-left: 50px;
        }

        dl {
            dd {
                margin-left: 50px;
            }
        }

        table {
            td, th {
                padding: 5px 15px;
            }
        }

        pre {
            padding: 34px 40px;
            font-size: 1.4rem;
        }
    }

    @include largest() {
        font-size: 2.5rem;
        padding: 100px;

        p {
            text-indent: 2.75rem;
        }

        ul, ol, dl {
            margin-left: 80px;
        }

        dl {
            dd {
                margin-left: 80px;
            }
        }

        table {
            td, th {
                padding: 10px 20px;
            }
        }

        pre {
            padding: 34px 40px;
            font-size: 1.5rem;
        }
    }
}

//
// Article layout
//

.layout-article, .layout-fiction {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid black;

        h1 {
            font-weight: normal;
            text-align: center;
        }
    }

    @include small() {
        header {
            font-size: 1.2rem;
            padding: 4rem;
        }
    }
    @include medium() {
        header {
            font-size: 1.5rem;
            padding: 4rem;
        }
    }
    @include large() {
        header {
            font-size: 2rem;
            padding: 4rem;
        }
    }
    @include largest() {
        header {
            font-size: 3rem;
            padding: 4rem;
        }
    }
}

//
// Media Nav
//

nav.media-nav {
    $initial-large: 200px;
    $final-large: 400px;
    $initial-small: 100px;
    $final-small: 200px;
    $t: 0.3s ease-out;

    $breakpoint: 768px;

    ul {
        list-style-type: none;

        li {
            margin-top: 40px;

            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .frame {
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .shadow {
                        position: relative;
                        overflow: hidden;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;

                        img {
                            margin: 0;
                        }
                    }
                }

                span {
                    display: block;
                    color: black;
                }

                &:hover {
                    .shadow {
                        z-index: 1;
                        transition: width $t, height $t;
                    }
                }
            }
        }
    }

    @include small() {
        $initial: 100px;
        $final: 200px;

        li {
            .frame {
                max-width: $initial;
                max-height: $initial;

                .shadow {
                    width: $initial;
                    height: $initial;

                    img {
                        max-width: $final;
                        max-height: $final;
                    }
                }
            }

            span {
                font-size: 1.5rem;
                margin-left: 30px;
            }

            &:hover {
                .shadow {
                    max-width: $final;
                    max-height: $final;
                    width: $final;
                    height: $final;
                }
            }
        }
    }

    @include medium() {
        $initial: 100px;
        $final: 200px;

        li {
            .frame {
                max-width: $initial;
                max-height: $initial;

                .shadow {
                    width: $initial;
                    height: $initial;

                    img {
                        max-width: $final;
                        max-height: $final;
                    }
                }
            }

            span {
                font-size: 1.8rem;
                margin-left: 40px;
            }

            &:hover {
                .shadow {
                    max-width: $final;
                    max-height: $final;
                    width: $final;
                    height: $final;
                }
            }
        }
    }

    @include large() {
        @media (max-resolution: 191dpi) {
            $initial: 150px;
            $final: 300px;

            li {
                .frame {
                    max-width: $initial;
                    max-height: $initial;

                    .shadow {
                        width: $initial;
                        height: $initial;

                        img {
                            max-width: $final;
                            max-height: $final;
                        }
                    }
                }

                span {
                    font-size: 2.5rem;
                    margin-left: 40px;
                }

                &:hover {
                    .shadow {
                        max-width: $final;
                        max-height: $final;
                        width: $final;
                        height: $final;
                    }
                }
            }
        }

        @media (min-resolution: 192dpi) {
            $initial: 100px;
            $final: 200px;

            li {
                .frame {
                    max-width: $initial;
                    max-height: $initial;

                    .shadow {
                        width: $initial;
                        height: $initial;

                        img {
                            max-width: $final;
                            max-height: $final;
                        }
                    }
                }

                span {
                    font-size: 2.5rem;
                    margin-left: 40px;
                }

                &:hover {
                    .shadow {
                        max-width: $final;
                        max-height: $final;
                        width: $final;
                        height: $final;
                    }
                }
            }
        }
    }

    @include largest() {
        $initial: 200px;
        $final: 400px;

        li {
            .frame {
                max-width: $initial;
                max-height: $initial;

                .shadow {
                    width: $initial;
                    height: $initial;

                    img {
                        max-width: $final;
                        max-height: $final;
                    }
                }
            }

            span {
                font-size: 3.5rem;
                margin-left: 40px;
            }

            &:hover {
                .shadow {
                    max-width: $final;
                    max-height: $final;
                    width: $final;
                    height: $final;
                }
            }
        }
    }
}

//
// Home page
//

.home-page {
    .box {
        display: inline-block;

        h1 {
            font-weight: normal;
        }
    }

    @include small() {
        padding: 1rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }

    @include medium() {
        padding: 4rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }

    @include large() {
        @media (max-resolution: 191dpi) {
            padding: 7rem;

            h1 {
                font-size: 3rem;
                margin-bottom: 100px;
            }
        }

        @media (min-resolution: 192dpi) {
            padding: 5rem;

            h1 {
                font-size: 3rem;
                margin-bottom: 30px;
            }
        }
    }

    @include largest() {
        padding: 7rem;

        h1 {
            font-size: 4.3rem;
            margin-bottom: 100px;
        }
    }
}

//
// About page
//

//
// Portfolio
//

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .column {
        width: 50%;
    }

    @include small() {
        flex-direction: column;

        .column {
            width: 100%;
        }
    }
    @include medium() {
        flex-direction: column;

        .column {
            width: 100%;
        }
    }
    @include large() {
        flex-direction: row;
    }
    @include largest() {
        flex-direction: row;
    }
}

//
// Syntax Highlighting
//

// Essentially this https://github.com/richleland/pygments-css/blob/master/trac.css
// but different


.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bb8844 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #999999 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sa { color: #bb8844 } /* Literal.String.Affix */
.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight .sc { color: #bb8844 } /* Literal.String.Char */
.highlight .dl { color: #bb8844 } /* Literal.String.Delimiter */
.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight .se { color: #bb8844 } /* Literal.String.Escape */
.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight .sx { color: #bb8844 } /* Literal.String.Other */
.highlight .sr { color: #808000 } /* Literal.String.Regex */
.highlight .s1 { color: #bb8844 } /* Literal.String.Single */
.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .vm { color: #008080 } /* Name.Variable.Magic */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

//
// EOG581
//

.chapter-start {
    margin: 0 auto 45px auto;
    width: 80%;

    p {
        text-align: center;
    }
}

nav.chapter-nav {
    margin-top: 70px;

    ul {
        list-style-type: none;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    li {
        font-style: italic;
        margin: 0 20px;
    }
}

.epigraph {
    margin: 0 auto 200px auto;
    width: 70%;

    p {
        text-align: left;
        text-indent: 0;
    }

    p.cite {
        text-align: right;
    }
}


.nameplate p {
    text-align: center;
    font-variant: small-caps;
}

.center p {
    text-align: center;
}

.spaced-image {
    margin: 100px auto;
}
