/* Variables */

$body-background: #fff;
$body-font-family: 'Lusitana', serif;
$body-padding: 45px;

$code-background-color: #f6f6f6;
$code-border-color: #ddd;
$code-block-font-size: 15.5px;
$code-block-line-height: 1.2em;

$text-color: #222;
$link-color: #AD3108;
$heading-color: #222;

$icon-size: 37px;

$mobile-size: 768px;
$desktop-size: $mobile-size + 1;

$column-count: 12;
