<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% @var title %></title>
    <link src="/static/css/style.css">
  </head>
  <body>
    <% @var content -escape raw %>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
