---
layout: common
---

<div class="layout-article">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <article>
    {{ content }}
  </article>
  <div class="job">
    <p>
      I'm looking for work. If you're doing something cool in technology, and
      want to hire a guy who <a href="github.com/austral/austral">writes
      compilers for fun</a>, I'd love
      to <a href="mailto:fernando@borretti.me">hear from you</a>!
    </p>
    <p style="text-align: center; margin-top: 16px;">
      <a href="https://www.linkedin.com/in/fborretti/">LinkedIn</a>
      ·
      <a href="/portfolio">Portfolio</a>
    </p>
  </div>
</div>
