---
layout: common
---

<div class="layout-article">
  <header>
    <div class="page-title">
      <h1>{{ page.title }}</h1>
      <div class="pub-date">{{ page.date | date: "%-d %B, %Y" }}</div>
    </div>
    {% if page.card %}
      <figure>
        <img src="/assets/card/{{ page.card }}" alt="Post image." />
        <figcaption>
          {{ page.card_source | markdownify }}
        </figcaption>
      </figure>
    {% endif %}
  </header>
  <article>{{ content }}</article>
  <div class="post-metadata">
    <table>
      <tr>
        <td class="key">Published</td>
        <td class="value">{{ page.date | date: "%-d %B, %Y" }}</td>
      </tr>
      <tr>
        <td class="key">Previous</td>
        <td class="value">
          {% if page.previous.url %}
            <a href="{{ page.previous.url }}">
              {{ page.previous.title }}
            </a>
          {% else %}
            <i>None</i>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="key">Next</td>
        <td class="value">
          {% if page.next.url %}
            <a href="{{ page.next.url }}">
              {{ page.next.title }}
            </a>
          {% else %}
            <i>None</i>
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div>
