<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}Personal website of Fernando Borretti.{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% else %}Personal website of Fernando Borretti.{% endif %}">
    <meta property="og:site_name" content="Fernando Borretti">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.layout == "article" or page.layout == "fiction" %}
    <meta name="author" content="Fernando Borretti">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    {{ content }}
    <script defer data-domain="borretti.me" src="https://plausible.io/js/plausible.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  </body>
</html>
