<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.card %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ site.baseurl | prepend: site.url }}/assets/card/{{ page.card }}">
    <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}/assets/card/{{ page.card }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% else %}Personal website of Fernando Borretti.{% endif %}" />
    <meta property="og:site_name" content="Fernando Borretti" />
    <meta name="author" content="Fernando Borretti" />
    <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}Personal website of Fernando Borretti.{% endif %}" />
    <meta name="keywords" content="{{ page.tags | join: ', ' }}" />
    <link rel="stylesheet" href="/assets/main.css" />
    {% if page.layout == "article" or page.layout == "fiction" %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    {% if page.math %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    {% endif %}
    <link rel="icon" href="/assets/favicon.jpg" />
  </head>
  <body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6MB79EDK0Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6MB79EDK0Q');
    </script>
    {{ content }}
    <script defer data-domain="borretti.me" src="https://plausible.io/js/plausible.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet" />
    {% if page.math %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
              delimiters: [
                  {left: '$', right: '$', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
          });
      });
    </script>
    {% endif %}
  </body>
</html>
