---
layout: base
---

{% assign fleuron = "❖" %}

<div class="layout-common">
  <nav class="top-nav" role="navigation">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      {% if page.categories[0] == "article" %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/article/">Articles</a>
      </li>
      {% elsif page.categories[0] == "fiction" %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/fiction/">Fiction</a>
      </li>
      {% endif %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <div class="copy">
      &copy; 2014 – 2021 Fernando Borretti. <a href="/feed.xml">Subscribe</a> through RSS.
    </div>
  </footer>
</div>
