---
layout: base
---

{% assign fleuron = "❖" %}

<div class="layout-common">
  <nav class="top-nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      {% if page.categories[0] == "article" %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/article/">Blog</a>
      </li>
      {% elsif page.url contains "eog581/" %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/fiction/">Fiction</a>
      </li>
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/fiction/eog581">The Epiphany of Gliese 581</a>
      </li>
      {% elsif page.categories[0] == "fiction" %}
      <li>
        <span class="sep">{{ fleuron }}</span>
      </li>
      <li>
        <a href="/fiction/">Fiction</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <main>{{ content }}</main>
  <footer>
    <div class="footer-content">
      <nav class="bottom-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/article">Blog</a></li>
          <li><a href="/fiction">Fiction</a></li>
          <li><a href="/consulting">Consulting</a></li>
          <li>Subscribe through <a href="https://buttondown.com/fernandoborretti">email</a> or <a href="/feed.xml">RSS</a></li>
        </ul>
      </nav>
      <div class="contact">
        <p>
          Feel free to <a href="mailto:fernando@borretti.me">email me</a>! I would
          love to hear from you.
        </p>
      </div>
      <div class="copy">
        &copy; 2014&ndash;{{ site.time | date: '%Y' }} Fernando Borretti
      </div>
    </div>
  </footer>
</div>
