---
layout: default

css:
  - //cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/color-brewer.min.css
  - //maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
js:
  - //ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js
  - //highlightjs.org/static/highlight.pack.js
  - //cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML
  - /assets/js/scripts.js
---
<header class="post-header">
  <h1>
    <a href="{% if page.backlink %}{{ page.backlink }}{% else %}/{% endif %}">
      {{ page.title }}
    </a>
  </h1>
  {% if page.class == "article" %}
    <ul class="links">
      <li><a href="/about/">About</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/article/">Articles</a></li>
    </ul>
  {% endif %}
  <hr>
</header>
{% for url in page.css %}
  <link rel="stylesheet" href="{{ url }}"/>
{% endfor %}
<main class="{% if page.class %}{{ page.class }}{% endif %}">
  {{ content }}
</main>
{% include footer.html %}
<script type="text/x-mathjax-config">
 {% include mathjax_config.js %}
</script>
{% for url in page.js %}
  <script src="{{ url }}"></script>
{% endfor %}
