---
layout: default
---
<header class="post-header">
  <h1>
    <a href="{% if page.backlink %}{{ page.backlink }}{% else %}/{% endif %}">
      {{ page.title }}
    </a>
  </h1>
  {% if page.class == "article" %}
    <ul class="links">
      <li><a href="/about/">About</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/article/">Articles</a></li>
    </ul>
  {% endif %}
</header>
{% for url in site.post_resources.css %}
  <link rel="stylesheet" href="{{ url }}"/>
{% endfor %}
<main class="{% if page.class %}{{ page.class }}{% endif %}">
  {{ content }}
</main>
{% include footer.html %}
{% for url in site.post_resources.js %}
  <script src="{{ url }}"></script>
{% endfor %}
