---
layout: default

css:
  - //cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/color-brewer.min.css
  - //maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
  - //cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css
  - /assets/css/sotu.css
js:
  - //ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js
  - //highlightjs.org/static/highlight.pack.js
  - //cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js
  - //cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js
  - /assets/js/scripts.js
  - /assets/js/sotu.js
  - /assets/js/toc.js
  - /assets/js/jquery.sticky.js
---

{% for url in page.css %}
  <link rel="stylesheet" href="{{ url }}"/>
{% endfor %}
<header>
  <div class="container">
    <h1>
      {{ page.title }}
    </h1>
    <div class="row">
      <div class="text">
        {{ page.description | markdownify }}
      </div>
      <div class="social">
        <ul>
          <li>
            <a class="fa fa-twitter" href="{{ page.share.tw }}"></a>
          </li>
          <li>
            <a class="fa fa-facebook" href="{{ page.share.fb }}"></a>
          </li>
          <li>
            <a class="fa fa-google-plus" href="{{ page.share.gp }}"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="post">
  <div class="toc-container">
    <div id="toc" class="toc"></div>
  </div>
  <article class="article-content">
    {{ content }}
  </article>
</main>
<footer>
  <div class="container">
    <div class="text">
      <div class="author">
        Made by <a href="/">Fernando Borretti</a>
      </div>
      <div class="inspiration">
        Inspired by the <a href="https://github.com/Gabriel439/post-rfc/blob/master/sotu.md">State of the Haskell Ecosystem</a>
      </div>
    </div>
    <div class="social">
      <ul>
        <li>
          <a class="fa fa-twitter" href="https://twitter.com/eudxa"></a>
        </li>
        <li>
          <a class="fa fa-github" href="https://github.com/eudoxia0"></a>
        </li>
        <li>
          <a class="fa fa-globe" href="http://eudoxia.me/"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% for url in page.js %}
  <script src="{{ url }}"></script>
{% endfor %}
