name: dead links
on: push

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: install ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          ruby-version: "3.3.10"
          bundler-cache: true

      - name: build
        run: bundle exec jekyll build

      - name: check links
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: >
            --verbose
            --no-progress
            --timeout=30
            --exclude="www\.gnu\.org"
            --exclude="fredkozlowski\.com"
            --exclude="antipope\.org"
            --exclude="langsec\.org"
            --exclude="dreamwidth\.org"
            --threads=1
            --max-concurrency=16
            --accept 200,201,202,203,204,206,300,301,302,303,304,307,308,403,429
            './_site/**/*.html'
          fail: true
